{% extends "wells/base.html" %}
{% block title %}Home{% endblock %}
{% block main %} USERS{% endblock %}
{% block button %}
{%if user.is_superuser%}
     <a href="/users/new/" target="" class="btn btn-danger pull-right m-l-20 hidden-xs hidden-sm waves-effect waves-light">New User</a>
{%endif%}
{% endblock %}
{% block submain %}
<li><a href="/home/">Dashboard</a></li>
<li class="">Settings</li>
<li class="active"><a href="/users/">Users</a></li>
{% endblock %}
{% block body %}
<div class="row">
    <div class="col-md-12 col-lg-12 col-sm-12">
        <div class="white-box">
            <h3 class="box-title">SYSTEM USERS</h3>
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                    <tr>

                        <th>USERNAME</th>
                        <th>FIRST NAME</th>
                        <th>LAST NAME</th>
                        <th>LAST LOGIN</th>
                        <th>IS ACTIVE</th>
                    </tr>
                    </thead>
                    <tbody>
                        {% for user in users %}
                            <tr>
                                <td><a href="/users/{{user.id}}">{{user.username}}</a></td>
                                <td>{{user.first_name}}</td>
                                <td>{{user.last_name}}</td>
                                <td>{{user.last_login}}</td>
                                <td>{{user.is_active}}</td>
                            </tr>
                        {% empty %}
                            No users
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block javascript %}{% endblock %}